@font-face {
  font-family: "machine";
  src: url("fonts/MachineScript.ttf") format("truetype"); }

@font-face {
  font-family: "top";
  src: url("fonts/TopModern.ttf") format("truetype"); }

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: black; }

body {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #232323; }

::-webkit-scrollbar {
  display: none; }

.black {
  color: #0a0a0a; }

.green {
  color: green; }

.red {
  color: red; }

.grey {
  color: grey; }

.center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.align-left {
  text-align: left; }

.machine {
  font-family: "machine"; }

.top {
  font-family: "top"; }

.serif {
  font-family: serif; }

.default {
  cursor: default; }

.nav-bar {
  width: 100vw;
  height: 6vh;
  min-width: 300px;
  position: fixed;
  z-index: 500;
  top: 0;
  margin: auto auto 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-right-radius: 0.5vh;
  border-top-left-radius: 0.5vh;
  background-color: rgba(0, 0, 0, 0.5); }

.bar {
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 45%;
  z-index: 550; }

.symbol {
  width: auto;
  height: auto;
  margin: auto 3vw auto 3vw;
  z-index: 600;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4em;
  font-family: "top";
  padding-bottom: 0.3vh;
  padding-top: 0.3vh;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  border-top: solid 1px rgba(255, 255, 255, 0); }

.landing-sym {
  color: #143b7a; }

.about-sym {
  color: lightblue;
  cursor: default; }

.portfolio-sym {
  color: white; }

.apps-sym {
  color: orange; }

.blog-sym {
  color: #3bad1f; }

.contact-sym {
  color: grey; }

.sym-hover {
  -webkit-animation: show-border 500ms forwards;
  animation: show-border 500ms forwards; }

.sym-hover-off {
  -webkit-animation: hide-border 500ms forwards;
  animation: hide-border 500ms forwards; }

.about-me-info {
  margin-top: 7%;
  width: 36vw;
  color: #ebebeb;
  font-size: 1.6em; }

.about-me-title {
  position: absolute;
  top: 8vh;
  font-size: 4em;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: black; }

.half-section {
  width: 50vw;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative; }

.landing {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1em; }

.half-section-landing {
  position: relative;
  height: 94vh;
  margin-top: 6vh;
  width: 60%; }

.half-section-landing-left {
  background-color: white; }

.half-section-landing-right {
  width: 40%; }

.about-me-title-landing {
  position: absolute;
  top: 18vh;
  right: 12vw;
  font-size: 5.5em;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.landing-info-title {
  position: absolute;
  left: 10%;
  top: 25%;
  font-size: 5em;
  text-align: center;
  color: #ebebeb;
  color: black; }

.about-me-info-landing {
  position: absolute;
  left: 14%;
  top: 40%;
  width: 40vw;
  color: #ebebeb;
  color: black;
  font-size: 1.6em; }

.landing-intro-1 {
  -webkit-animation: fade-left 2.5s forwards;
  animation: fade-left 2.5s forwards; }

.landing-intro-2 {
  -webkit-animation: fade-left 2.5s forwards;
  animation: fade-left 2.5s forwards;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 0; }

.landing-scroll-notification {
  position: absolute;
  bottom: 20%;
  left: 30%;
  color: #ebebeb;
  font-size: 1.5em;
  -webkit-animation: fade-in 2.5s forwards;
  animation: fade-in 2.5s forwards;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  opacity: 0;
  color: black; }

.portrait {
  position: absolute;
  right: 7vw;
  bottom: 10vh;
  width: 50vh;
  height: 50vh;
  background-image: url("../images/portrait-edit.jpg");
  background-size: cover;
  background-position: right;
  opacity: 0.8;
  margin: 0;
  padding: 0;
  border-radius: 100vh; }

.section-2 {
  z-index: -1; }

.section-skills {
  position: relative;
  display: none;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0; }

.skill-bubble-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.skill-bubble {
  border-radius: 100%;
  background-color: blue;
  margin: 5vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8em;
  border: solid 0.2vh black;
  background-size: cover;
  background-position: center; }

.skill-html {
  background-color: #5b80d8;
  background-image: url("../images/html.jpg");
  width: 20vh;
  height: 20vh;
  margin-top: 20vh; }

.skill-sass {
  background-color: #f28ad1;
  background-image: url("../images/sass.png");
  width: 20vh;
  height: 20vh;
  margin-top: 20vh; }

.skill-javascript {
  background-color: #a54fd1;
  background-image: url("../images/js.png");
  background-position: bottom right;
  width: 25vh;
  height: 25vh; }

.skill-angular {
  background-color: #e6e6e6;
  background-image: url("../images/angular2.png");
  width: 12vh;
  height: 12vh;
  margin-top: 40vh; }

.skill-node {
  background-color: black;
  background-image: url("../images/node.png");
  width: 12vh;
  height: 12vh;
  margin-top: 40vh; }

.skill-info {
  position: absolute;
  bottom: 5%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.skill-content-title {
  position: absolute;
  top: -22%;
  font-size: 5em;
  text-decoration: underline;
  color: #4a7bce; }

.skill-info-content-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 4vh;
  padding-bottom: 5vh; }

.skill-info-content {
  width: 60%;
  font-size: 2em;
  color: gainsboro;
  font-style: bold; }

.section-about-me {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #cdcdcd; }

.about-me-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50vw;
  height: 50vh; }

.about-me-content-info {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.about-me-symbol-bar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5vh; }

.about-me-symbol {
  width: 8vw;
  height: 8vw;
  background-size: cover;
  border-radius: 100vw;
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition-duration: 500ms; }

.about-me-symbol:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 500ms; }

.trombone {
  background-image: url("../images/trombone.png");
  border-radius: 0; }

.fitness {
  background-image: url("../images/physical-sym.png"); }

.environment {
  background-image: url("../images/env-symbol.png");
  width: 10vw;
  height: 10vw;
  margin-left: 3vw; }

.info {
  display: none;
  margin-top: 7%;
  width: 36vw;
  font-size: 1.6em;
  width: 60%;
  background-color: rgba(50, 50, 50, 0.2);
  color: black;
  padding: 2vw;
  margin-top: 4vw;
  border-radius: 1vw; }

.info-home {
  width: 60%;
  background-color: rgba(50, 50, 50, 0.2);
  color: black;
  padding: 2vw;
  margin-top: 4vw;
  border-radius: 1vw; }

@-webkit-keyframes show-border {
  100% {
    border-color: rgba(255, 255, 255, 0.6); } }

@keyframes show-border {
  100% {
    border-color: rgba(255, 255, 255, 0.6); } }

@-webkit-keyframes hide-border {
  0% {
    border-color: rgba(255, 255, 255, 0.6); }
  100% {
    border-color: rgba(255, 255, 255, 0); } }

@keyframes hide-border {
  0% {
    border-color: rgba(255, 255, 255, 0.6); }
  100% {
    border-color: rgba(255, 255, 255, 0); } }

@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translatey(5vh);
    transform: translatey(5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0vh);
    transform: translatey(0vh); } }

@keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translatey(5vh);
    transform: translatey(5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatey(0vh);
    transform: translatey(0vh); } }

@-webkit-keyframes fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translatex(5vh);
    transform: translatex(5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@keyframes fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translatex(5vh);
    transform: translatex(5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@-webkit-keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-5vh);
    transform: translatex(-5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-5vh);
    transform: translatex(-5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
