body, html {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

section {
  width: 100%;
  overflow-y: hidden;
  height: 90vh; }
  @media screen and (max-width: 1050px) {
    section {
      height: 50vh; } }

.title-blue {
  color: #2c70f7;
  font-size: 1.7em; }

@media screen and (max-width: 1000px) {
  #landing {
    height: 50vh; } }

#name {
  font-size: 3.5em;
  position: absolute;
  right: 3vw;
  top: 3vh;
  color: #141414;
  cursor: default; }

#web-dev-landing {
  font-size: 0.4em;
  margin-left: 1.3vw;
  margin-top: -0.8vh;
  color: #2865e2; }

#portrait {
  width: 25vw;
  height: 25vw;
  position: absolute;
  left: 10vw;
  top: 20vh;
  border-radius: 100vw;
  background-image: url("../images/portrait-edit.jpg");
  background-size: cover;
  background-position: bottom right; }

#landing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: 5vw;
  top: 35vh;
  z-index: 50;
  color: #1e1e1e;
  padding: 1%;
  width: 50vw;
  font-size: 1.8em;
  font-family: times;
  cursor: default;
  padding-bottom: 2%;
  border-bottom: solid 2px grey; }
  @media screen and (max-width: 1000px) {
    #landing-info {
      top: 22vh; } }

#pre-projects {
  position: relative; }

#pre-projects-info {
  width: 50%;
  height: auto;
  text-align: left;
  font-size: 1.9em;
  position: absolute;
  top: 20%;
  left: 20%; }

#pre-projects-info-title {
  font-size: 1.2em;
  color: #2c70f7;
  font-weight: bold;
  font-family: sans-serif; }

#pre-projects-info-2 {
  width: 50%;
  height: auto;
  text-align: left;
  font-size: 1.7em;
  position: absolute;
  bottom: 35%;
  left: 25%; }

#pre-projects-info-title-2 {
  font-size: 1.2em;
  color: #2c70f7;
  font-weight: bold;
  font-family: sans-serif;
  text-align: right; }

#projects {
  position: relative;
  height: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.divider {
  border-top: solid 1px grey; }

#divider-top {
  width: 80vw;
  margin-bottom: 20vh; }
  @media screen and (max-width: 1000px) {
    #divider-top {
      margin-bottom: 10vh; } }

#divider-bottom {
  width: 80vw;
  margin-top: 5vh; }

.project-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15vh; }

.project-image {
  background-size: cover;
  background-position: center;
  width: 35vw;
  height: 20vw;
  cursor: pointer;
  border-radius: 10px; }

.project-info {
  width: 35vw;
  height: auto;
  margin-left: 5vw;
  font-size: 1.2em; }

#carla-image {
  background-image: url("../images/carla.jpg"); }

#carla-info {
  margin-right: 10vw; }

#thh-image {
  background-image: url("../images/thh.jpg");
  margin-left: 5vw; }

#thh-info {
  margin: 0;
  margin-left: 10vw; }

#kmp-image {
  background-image: url("../images/kmp.jpg"); }

#kmp-info {
  margin-right: 10vw; }

#raincheck-image {
  background-image: url("../images/raincheck.jpg");
  margin-left: 5vw; }

#raincheck-info {
  margin: 0;
  margin-left: 10vw; }

#pre-skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80vh; }
  @media screen and (max-width: 1000px) {
    #pre-skills {
      height: 40vh; } }

#pre-skills-content {
  position: absolute;
  width: 55%;
  font-size: 1.5em;
  margin-left: 5vw; }

#pre-skills-content-title {
  font-size: 1.4em;
  color: #2c70f7;
  font-weight: bold;
  font-family: sans-serif; }

#skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 15vh; }
  @media screen and (max-width: 1000px) {
    #skills {
      margin-bottom: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto; } }

.skill-container {
  width: 30vw;
  height: 100%;
  margin-left: 1.5%;
  background-color: rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 3vh; }
  @media screen and (max-width: 1000px) {
    .skill-container {
      width: 75%;
      height: 35vh;
      margin-top: 2vh;
      font-size: 1.4em; } }

.skill-icon {
  border-radius: 150vw;
  width: 13vw;
  height: 13vw;
  background-position: center;
  background-size: cover; }

#html-icon {
  background-image: url("../images/html.png"); }

#react-icon {
  background-image: url("../images/react.png"); }

#node-icon {
  background-image: url("../images/node.png"); }

.skill-content {
  width: 85%;
  height: 35%;
  font-size: 1.1em;
  margin-top: 5vh; }

#contact {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 1000px) {
    #contact {
      height: 50vh; } }

.bar {
  width: 100%;
  height: 10vh;
  position: absolute; }

#top-bar {
  top: 0; }

#bottom-bar {
  bottom: 0; }

#contact-content-1 {
  font-size: 3em;
  color: #2c70f7;
  font-weight: bold; }

#contact-email {
  font-size: 1.5em; }

#contact-email-link {
  color: #323232;
  text-decoration: none;
  font-weight: bold;
  font-style: Times; }

#contact-divider {
  width: 20vw;
  height: 1vh;
  margin-top: 4vh;
  margin-bottom: 3vh; }

#contact-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3vh; }

.contact-button {
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 100vw;
  margin-left: 1vw;
  cursor: pointer;
  background-size: cover;
  background-position: center; }

#github {
  background-image: url("../images/git-edit.png");
  margin-left: 0; }

#codepen {
  background-image: url("../images/codepen.png"); }

#linkedin {
  background-image: url("../images/linkedin.png");
  border: solid 1px grey; }

#resume {
  background-image: url("../images/resume.png");
  border: solid 1px grey; }

#signature {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  color: rgba(0, 0, 0, 0.9); }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@keyframes grow {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); } }

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes shrink {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes shift-right {
  0% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@keyframes shift-right {
  0% {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@-webkit-keyframes move-left {
  0% {
    -webkit-transform: translatex(90%);
    transform: translatex(90%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@keyframes move-left {
  0% {
    -webkit-transform: translatex(90%);
    transform: translatex(90%); }
  100% {
    -webkit-transform: translatex(0%);
    transform: translatex(0%); } }

@-webkit-keyframes move-right {
  0% {
    -webkit-transform: translatex(0);
    transform: translatex(0); }
  100% {
    -webkit-transform: translatex(90%);
    transform: translatex(90%); } }

@keyframes move-right {
  0% {
    -webkit-transform: translatex(0);
    transform: translatex(0); }
  100% {
    -webkit-transform: translatex(90%);
    transform: translatex(90%); } }
