@font-face {
  font-family: "machine";
  src: url("fonts/MachineScript.ttf") format("truetype"); }

@font-face {
  font-family: "top";
  src: url("fonts/TopModern.ttf") format("truetype"); }

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

body {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: hidden; }
  @media screen and (max-width: 1370px) {
    body {
      font-size: 75%; } }

img {
  border: solid 1px black;
  box-shadow: 8px 8px 25px -5px rgba(0, 0, 0, 0.8); }

a {
  cursor: pointer; }

h1 {
  font-size: 1.5em;
  color: #910a26; }

.black {
  color: #0a0a0a; }

.green {
  color: green; }

.red {
  color: red; }

.grey {
  color: grey; }

.center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.align-left {
  text-align: left; }

.machine {
  font-family: "machine"; }

.top {
  font-family: "top"; }

.serif {
  font-family: serif; }

.default {
  cursor: default; }

.pointer {
  cursor: pointer; }

.nav-bar {
  width: 100vw;
  height: 6vh;
  min-width: 300px;
  position: fixed;
  z-index: 500;
  top: 0;
  margin: auto auto 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); }

.bar {
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 45%;
  z-index: 550; }

.symbol {
  width: auto;
  height: auto;
  margin: auto 3vw auto 3vw;
  z-index: 600;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4em;
  font-family: "top";
  padding-bottom: 0.3vh;
  padding-top: 0.3vh;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
  border-top: solid 1px rgba(255, 255, 255, 0); }

.landing-sym {
  color: #143b7a; }

.about-sym {
  color: lightblue; }

.portfolio-sym {
  color: white;
  cursor: default; }

.blog-sym {
  color: #3bad1f; }

.contact-sym {
  color: black; }

.sym-hover {
  -webkit-animation: show-border 500ms forwards;
  animation: show-border 500ms forwards; }

.sym-hover-off {
  -webkit-animation: hide-border 500ms forwards;
  animation: hide-border 500ms forwards; }

.section {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.git {
  width: 5vw;
  height: 5vw;
  position: absolute;
  left: 2vw;
  bottom: 2vh;
  background-image: url("../images/git-edit.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  -webkit-animation: git-hover-off 500ms forwards;
  animation: git-hover-off 500ms forwards;
  cursor: pointer; }

.git:hover {
  -webkit-animation: git-hover 500ms forwards;
  animation: git-hover 500ms forwards; }

.codepen {
  width: 5vw;
  height: 5vw;
  position: absolute;
  right: 2vw;
  bottom: 2vh;
  background-image: url("../images/codepen.png");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  -webkit-animation: git-hover-off 500ms forwards;
  animation: git-hover-off 500ms forwards;
  cursor: pointer; }

.codepen:hover {
  -webkit-animation: git-hover 500ms forwards;
  animation: git-hover 500ms forwards; }

.portfolio-title {
  font-size: 6em;
  border: solid 0.4vw black;
  padding: 0.8vw;
  cursor: default; }

.hint {
  -webkit-animation: fade-in 2s forwards;
  animation: fade-in 2s forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  opacity: 0; }

.section-websites {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.section-title {
  position: absolute;
  top: 12vh;
  font-size: 4em;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.half-section {
  position: relative;
  width: 50vw;
  max-width: 50%;
  height: 80vh;
  margin-top: 10vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.carla-title {
  font-size: 2em;
  font-family: serif;
  font-style: italic;
  position: absolute;
  top: 2%; }

.carla-info {
  margin-top: 20%;
  width: 80%;
  font-size: 1.7em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2vw;
  border-radius: 1vw; }

.section-applications {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.raincheckv2-info {
  width: 80%;
  margin-top: 10%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2vw;
  border-radius: 1vw; }

.section-test {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0; }

.control-panel {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  height: 94.1vh;
  margin-top: 6.1vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #18181c;
  padding: 0;
  opacity: 0.9;
  overflow-x: hidden; }

.control-panel-nav-bar {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #0d1014;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.control-panel-nav-bar-button {
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2.2em;
  font-family: "machine";
  cursor: pointer;
  color: grey; }

.control-panel-nav-bar-button-websites {
  color: white;
  cursor: default; }

.control-panel-nav-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12%; }

.slider-background-website {
  float: left;
  height: 100%;
  width: 50%;
  background-color: #6bc3ff; }

.slider-background-applications {
  float: right;
  height: 100%;
  width: 50%;
  background-color: #b7001f; }

.control-panel-nav-bar-slider {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150%;
  height: 100%; }

.slider-left-cover {
  float: right;
  width: 33.3%;
  height: 100%;
  background-color: #0d1014; }

.slider-right-cover {
  float: left;
  width: 33.3%;
  height: 100%;
  background-color: #0d1014; }

.control-panel-directional-button {
  position: absolute;
  width: 4vw;
  height: 6vh;
  background-color: #1b2e4f;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: black;
  font-style: bold;
  font-size: 2.8em;
  cursor: default; }

.control-panel-control-left {
  left: 0;
  top: 0; }

.control-panel-control-right {
  right: 0;
  top: 0; }

.control-panel-content {
  position: relative;
  width: 100%;
  margin-top: 4%;
  font-size: 1em;
  color: #dee9f7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.control-panel-info {
  margin-top: 13%;
  width: 90%;
  font-size: 1.1em; }

.control-panel-division-bar {
  width: 100%;
  height: 0.1vh;
  background-color: grey; }

.section-test-content {
  position: relative;
  width: 70vw;
  height: 94vh;
  margin-top: 6vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: rgba(0, 188, 185, 0.05); }

.websites {
  display: block; }

.h1-websites {
  color: #2e86c1; }

.carla-display {
  display: none; }

.control-panel-carla-title {
  font-size: 1.7em;
  font-family: serif;
  font-style: italic;
  position: absolute;
  top: 4%; }

.applications {
  display: none; }

.control-panel-raincheckv2-title {
  font-size: 2em;
  font-family: serif;
  font-style: italic;
  position: absolute;
  top: 3%; }

.img-carla-home {
  width: 40vw;
  position: absolute;
  top: 20%; }

.img-carla-aboutme-responsive {
  position: absolute;
  width: 12vw;
  top: 45vh;
  right: 28vh;
  border-radius: 1vh; }

.img-raincheckv2-content {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 35vw; }

.img-raincheckv2-register {
  position: absolute;
  left: 10%;
  top: 38%;
  width: 28vw; }

.img-raincheckv2-submit {
  position: absolute;
  left: 43%;
  top: 43%;
  width: 28vw; }

@-webkit-keyframes fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translatex(5vh);
    transform: translatex(5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@keyframes fade-right {
  0% {
    opacity: 0;
    -webkit-transform: translatex(5vh);
    transform: translatex(5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@-webkit-keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-5vh);
    transform: translatex(-5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translatex(-5vh);
    transform: translatex(-5vh); }
  100% {
    opacity: 1;
    -webkit-transform: translatex(0vh);
    transform: translatex(0vh); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes nav-slider-left {
  0% {
    left: 0; }
  100% {
    left: -50%; } }

@keyframes nav-slider-left {
  0% {
    left: 0; }
  100% {
    left: -50%; } }

@-webkit-keyframes nav-slider-right {
  0% {
    left: -50%; }
  100% {
    left: 0; } }

@keyframes nav-slider-right {
  0% {
    left: -50%; }
  100% {
    left: 0; } }

@-webkit-keyframes git-hover {
  100% {
    opacity: 1; } }

@keyframes git-hover {
  100% {
    opacity: 1; } }

@-webkit-keyframes git-hover-off {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.7; } }

@keyframes git-hover-off {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.7; } }
