//truetype fonts
@font-face
  font-family: "machine"
  src: url("fonts/MachineScript.ttf") format("truetype")

@font-face
  font-family: "top"
  src: url("fonts/TopModern.ttf") format("truetype")

//html tags
*
  user-select: none
  cursor: default

//to hide scrollbar
// html
//     overflow: scroll
//     overflow-x: hidden
//
// ::-webkit-scrollbar
//     width: 0px;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */


body
  padding: 0
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  overflow-y: hidden
  @media screen and (max-width: 1370px)
    font-size: 75%

img
  border: solid 1px black
  box-shadow: 8px 8px 25px -5px rgba(0, 0, 0, 0.8)

a
  cursor: pointer

h1
  font-size: 1.5em
  color: rgb(145, 10, 38)
  // color: grey
  // color: rgb(33, 27, 102)

//usefull classes
.black
  color: rgb(10, 10, 10)

.green
  color: green

.red
  color: red

.grey
  color: grey

.center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: baseline

.align-left
  text-align: left

.machine
  font-family: "machine"

.top
  font-family: "top"

.serif
  font-family: serif

.default
  cursor: default

.pointer
  cursor: pointer

//nav-bar section
.nav-bar
  width: 100vw
  height: 6vh
  min-width: 300px
  position: fixed
  z-index: 500
  top: 0
  margin: auto auto 0 auto
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background-color: rgba(0, 0, 0, 0.5)

.bar
  width: 100%
  height: 10%
  background-color: rgba(0, 0, 0, 0.9)
  position: absolute
  top: 45%
  z-index: 550

.symbol
  width: auto
  height: auto
  margin: auto 3vw auto 3vw
  z-index: 600
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 1.4em
  font-family: "top"
  padding-bottom: 0.3vh
  padding-top: 0.3vh
  border-bottom: solid 1px rgba(255, 255, 255, 0)
  border-top: solid 1px rgba(255, 255, 255, 0)

.landing-sym
  color: rgb(20, 59, 122)

.about-sym
  color: lightblue

.portfolio-sym
  color: white
  cursor: default

.blog-sym
  color: rgb(59, 173, 31)

.contact-sym
  color: black

.sym-hover
  animation: show-border 500ms forwards

.sym-hover-off
  animation: hide-border 500ms forwards

//general use classes
.section
  position: relative
  width: 100vw
  max-width: 100%
  height: 100vh
  max-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center


//portfolio landing
.git
  width: 5vw
  height: 5vw
  position: absolute
  left: 2vw
  bottom: 2vh
  background-image: url("../images/git-edit.png")
  background-size: cover
  background-position: center
  opacity: 0.7
  animation: git-hover-off 500ms forwards
  cursor: pointer

.git:hover
  animation: git-hover 500ms forwards

.codepen
  width: 5vw
  height: 5vw
  position: absolute
  right: 2vw
  bottom: 2vh
  background-image: url("../images/codepen.png")
  background-size: cover
  background-position: center
  opacity: 0.7
  animation: git-hover-off 500ms forwards
  cursor: pointer

.codepen:hover
  animation: git-hover 500ms forwards

.portfolio-title
  font-size: 6em
  border: solid 0.4vw black
  padding: 0.8vw
  cursor: default

.hint
  animation: fade-in 2s forwards
  animation-delay: 3s
  opacity: 0

//website section
.section-websites
  flex-direction: row

.section-title
  position: absolute
  top: 12vh
  font-size: 4em
  flex-direction: column
  display: flex
  align-items: center
  justify-content: center

.half-section
  position: relative
  width: 50vw
  max-width: 50%
  height: 80vh
  margin-top: 10vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  // background-color: grey

//carla
.carla-title
  font-size: 2em
  font-family: serif
  font-style: italic
  position: absolute
  top: 2%
  // animation: fade-right 2.5s forwards
  // opacity: 0

.carla-info
  margin-top: 20%
  width: 80%
  font-size: 1.7em
  background-color: rgba(0, 0, 0, 0.1)
  padding: 2vw
  border-radius: 1vw
  // animation: fade-left 2.5s forwards
  // animation-delay: 2s
  // opacity: 0

//aplications
.section-applications
  flex-direction: row

.raincheckv2-info
  width: 80%
  margin-top: 10%
  font-size: 2em
  background-color: rgba(0, 0, 0, 0.1)
  padding: 2vw
  border-radius: 1vw

//section-test
.section-test
  flex-direction: row
  padding: 0
  margin: 0

.control-panel
  position: relative
  display: flex
  width: 30vw
  height: 94.1vh
  margin-top: 6.1vh
  flex-direction: column
  align-items: center
  background-color: rgba(24, 24, 28, 1)
  padding: 0
  opacity: 0.9
  overflow-x: hidden

.control-panel-nav-bar
  position: relative
  width: 100%
  height: 10%
  background-color: rgb(13, 16, 20)
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center

.control-panel-nav-bar-button
  width: 50%
  height: 100%
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  font-size: 2.2em
  font-family: "machine"
  cursor: pointer
  color: grey

.control-panel-nav-bar-button-websites
  color: white
  cursor: default

.control-panel-nav-bar-container
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 12%

.slider-background-website
  float: left
  height: 100%
  width: 50%
  background-color: rgb(107, 195, 255)

.slider-background-applications
  float: right
  height: 100%
  width: 50%
  background-color: rgba(183, 0, 31, 1)

.control-panel-nav-bar-slider
  position: absolute
  right: 0
  bottom: 0
  width: 150%
  height: 100%

.slider-left-cover
  float: right
  width: 33.3%
  height: 100%
  background-color: rgb(13, 16, 20)

.slider-right-cover
  float: left
  width: 33.3%
  height: 100%
  background-color: rgb(13, 16, 20)

.control-panel-directional-button
  position: absolute
  width: 4vw
  height: 6vh
  // background-color: rgb(145, 0, 25)
  background-color: rgb(27, 46, 79)
  display: flex
  flex-direction: column
  text-align: center
  justify-content: center
  color: black
  font-style: bold
  font-size: 2.8em
  cursor: default

.control-panel-control-left
  left: 0
  top: 0

.control-panel-control-right
  right: 0
  top: 0

.control-panel-content
  position: relative
  width: 100%
  margin-top: 4%
  font-size: 1em
  color: rgb(222, 233, 247)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.control-panel-info
  margin-top: 13%
  width: 90%
  font-size: 1.1em

.control-panel-division-bar
  width: 100%
  height: 0.1vh
  background-color: grey

//section-content
.section-test-content
  position: relative
  width: 70vw
  height: 94vh
  margin-top: 6vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  background-color: rgba(0, 188, 185, 0.05)

//websites
.websites
  display: block

.h1-websites
  color: rgb(46, 134, 193)

//carla test
.carla-display
  display: none

.control-panel-carla-title
  font-size: 1.7em
  font-family: serif
  font-style: italic
  position: absolute
  top: 4%

.control-panel-carla-info


//applications
.applications
  display: none

//Raincheckv2
.control-panel-raincheckv2-title
  font-size: 2em
  font-family: serif
  font-style: italic
  position: absolute
  top: 3%

.control-panel-raincheckv2-info


//img classes
//carla
.img-carla-home
  width: 40vw
  position: absolute
  top: 20%
  // animation: fade-right 2.5s forwards
  // opacity: 0

.img-carla-aboutme-responsive
    position: absolute
    width: 12vw
    top: 45vh
    right: 28vh
    border-radius: 1vh
    // animation: fade-right 2.5s forwards
    // animation-delay: 1s
    // opacity: 0

//raincheckv2
.img-raincheckv2-content
  position: absolute
  left: 20%
  top: 20%
  width: 35vw

.img-raincheckv2-register
  position: absolute
  left: 10%
  top: 38%
  width: 28vw

.img-raincheckv2-submit
  position: absolute
  left: 43%
  top: 43%
  width: 28vw

//animation keyframes
@keyframes fade-right
  0%
    opacity: 0
    transform: translatex(5vh)
  100%
    opacity: 1
    transform: translatex(0vh)

@keyframes fade-left
  0%
    opacity: 0
    transform: translatex(-5vh)
  100%
    opacity: 1
    transform: translatex(0vh)

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes nav-slider-left
  0%
    left: 0
  100%
    left: -50%

@keyframes nav-slider-right
    0%
      left: -50%
    100%
      left: 0

@keyframes git-hover
  100%
    opacity: 1

@keyframes git-hover-off
  0%
    opacity: 1
  100%
    opacity: 0.7
