/*Fonts*/
@font-face {
  font-family: "machine";
  src: url("fonts/MachineScript.ttf") format("truetype"); }

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: black; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("images/blog-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgba(0, 0, 0, 0.7);
  font-family: monospace;
  padding: 0;
  margin: 0;
  position: relative; }

h1 {
  font-size: 2.5rem;
  color: black;
  font-family: "machine"; }

a {
  color: #4286f4; }

.machine {
  font-family: "machine"; }

.serif {
  font-family: serif; }

.pointer {
  cursor: pointer; }

.purple {
  color: purple; }

.grey {
  color: grey; }

.lightgrey {
  color: lightgrey; }

.blue {
  color: #094bb7; }

.white {
  color: white; }

.back-home {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
  font-size: 3vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 500;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer; }

.back-home-button {
  width: 20vw;
  height: 100%;
  color: white;
  font-size: 3vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center;
  cursor: pointer; }

.back-home-button-ivan {
  float: right; }

.header {
  position: absolute;
  top: 5vh; }

.tab {
  margin-left: 9vw;
  font-weight: normal;
  color: black;
  background-color: white;
  height: auto;
  width: 75%;
  padding: 2vh;
  margin: 5vh 2vh 5vh 9vw;
  border-radius: 1vh; }

.post {
  width: 66vw;
  padding: 4vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  font-size: 2.8vh;
  border-radius: 15px;
  box-shadow: 0px 5px 50px white; }

.left {
  font-size: 4vh;
  position: absolute;
  left: -2vw;
  top: 0vh; }

.right {
  font-size: 4vh;
  position: absolute;
  right: -2vw;
  bottom: 0vh; }

.back-home-landing {
  position: absolute;
  left: 1vh;
  top: 1vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: auto;
  font-size: 2em;
  background-color: rgba(50, 50, 50, 0.7);
  padding: 1vh;
  border-radius: 1vh;
  cursor: pointer; }

.blog-nav-bar {
  width: 100%;
  height: 10%;
  background-color: gainsboro;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh; }

.blog-nav-bar-button {
  float: left;
  height: 100%;
  width: 24%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  cursor: pointer;
  font-size: 1.4rem;
  position: relative; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #c8c8c8;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
  display: none; }

.main-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20vh;
  width: 70%;
  height: auto;
  border-radius: 1vh;
  font-size: 25px; }

.blog-content-wrapper {
  padding: 3vh;
  padding-bottom: 5vh; }

.blog-posts {
  display: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.blog-list-body-title {
  text-align: left;
  margin-right: 5vw; }

.blog-posts-title {
  margin-left: 1vw; }

.post-link {
  width: auto;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline; }

.post-link-wrapper {
  margin: 1.5vh 0 1.5vh 0;
  cursor: pointer; }

.cool-link {
  margin: 1.5vh; }

.website-link {
  cursor: pointer; }

.footer {
  height: 30vh;
  width: 100%;
  font-size: 3vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10vh;
  color: white;
  position: absolute;
  bottom: 0; }

.logo-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
