html, body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  max-height: 100vh; }

#nav-bar {
  width: 100vw;
  height: 13vh;
  margin: 0;
  padding: 0; }

#photo {
  width: 100vw;
  height: 87vh;
  background-color: rgba(0, 0, 0, 0.9); }
